.service {
  position: relative;
  right: 3%;
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  max-width: 100%;
}

.service-content h1 {
  font-size: 25px;
  font-weight: 800;
  font-family: "Russo One", sans-serif;
  color: #dbdde4;
  text-align: center;
}

.service-contain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 85px;
  margin-top: 80px;
  align-items: center;
}

.video-img,
.mobile-img,
.desktop-img,
.program-img {
  display: flex;
  align-items: center;
  width: 310px;
}

.video,
.mobile,
.desktop,
.program {
  position: relative;
  padding: 30px;
  box-shadow: 0 0 40px rgba(124, 89, 172, 0.3);
}

.video p,
.mobile p,
.desktop p,
.program p{
  font-size: 16px;
  color: #dbdde4;
}

.video::before,
.mobile::before,
.desktop::before,
.program::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 8px;
  background: linear-gradient(110deg, #4a35bc, #50a3dc);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

img {
  background-color: #dbdde4;
  width: 35px;
}

span {
  border: 1px solid #50a3dc;
  border-radius: 50%;
  padding: 11px;
  background-color: #dbdde4;
}

h2 {
  font-size: 23px;
  margin-left: 15px;
  font-family: "Russo One", sans-serif;
  font-weight: 600;
  color: #dbdde4;
}

p {
  font-size: 18px;
  max-width: 310px;
  margin: 10px 0;
}
