.about {
  position: relative;
  left: 7%;
  margin: 130px 0 140px 0;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: start;
}

.img-box {
  border: 9px solid #50a3dc;
  border-radius: 7px;
  position: relative;
  z-index: 0;
  min-width: 380px;
  min-height: 410px;
}

#about-img {
  height: 410px;
  width: 380px;
  border-radius: 7px;
  z-index: 1;
  position: absolute;
  top: -12%;
  right: 9%;
}

.about-info {
  position: relative;
  max-width: 470px;
  left: 8%;
}

.about-info h2 {
  color: #dbdde4;
  font-family: "Russo One", sans-serif;
  margin: 0;
}

.about-info p {
  color: #7b7e8f;
  margin: 25px 0;
  font-size: max(1.4vw, 16px);
}

.hire {
  width: 145px;
  padding: 15px 20px;
  font-size: 12.7px;
  margin: 0 20px 0 0;
}

.resume {
  width: 145px;
  padding: 15px 20px;
  font-size: 12.7px;
}


@media (min-width: 1281px) {

  .img-box{
    min-width: 480px;
    min-height: 510px;
  }

  #about-img{
    height: 510px;
    width: 480px;
  }

  .about-info{
    max-width: 600px;
  }
}

@media (min-width: 768px) and (max-width: 1024px){

  .about{
    left: 0;
  }

  .about-content{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .img-box{
    min-width: 450px;
    min-height: 430px;
  }

  #about-img{
    height: 430px;
    width: 450px;
  }

  .about-info{
    margin-top: 50px;
    text-align: center;
    left: 0;
  }
}

@media (min-width: 320px) and (max-width: 480px){

  .about{
    left: 0;
  }

  .about-content{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .img-box{
    min-width: 310px;
    min-height: 310px;
  }

  #about-img{
    height: 310px;
    width: 310px;
  }

  .about-info{
    margin-top: 50px;
    text-align: center;
    left: 0;
  }
}